@{
    ViewBag.Title = "Crear usuario";
}

<h2>Crear usuario</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "new-user" })) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <label for="" class="control-label col-md-2">Usuario</label>
            <div class="col-md-10">
                <input type="text" name="usuario" id="usuario" class="form-control" onblur="validate('usuario', 3);" required/>
                <span id="help_usuario" class="help-block hidden text-danger">El nombre de usuario debe tener mínimo 3 caracteres</span>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="control-label col-md-2">Correo electrónico</label>
            <div class="col-md-10">
                <input type="email" name="correo" id="correo" class="form-control" required/>
                <span id="help_correo" class="help-block hidden text-danger">Correo electrónico no válido</span>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="control-label col-md-2">Contraseña</label>
            <div class="col-md-10">
                <input type="password" name="contrasena" id="contrasena" class="form-control" onblur="validate('contrasena', 6);" required />
                <span id="help_contrasena" class="help-block hidden text-danger">Contraseña demasiado corta, debe tener mínimo 6 caracteres</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" id="saveForm" class="btn btn-success" />
                <a href="/Usuarios" class="btn btn-danger" id="btnBack">
                    <i class="glyphicon glyphicon-arrow-left"></i> Volver
                </a>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        $('#new-user').on('submit', (e) => {
            e.preventDefault();
            let user = $('#new-user').serialize();

            $.ajax({
                url: '/Usuarios/Create',
                method: 'post',
                data: user,
                dataType: 'json',
                beforeSend: () => {
                    $('.bs-example-modal-sm').modal('show');
                },
                success: (data) => {
                    $('.bs-example-modal-sm').modal('hide');

                    if (data.status == 1) {
                        window.location.href = '/Usuarios';
                    } else {
                        alert(data.msg);
                    }
                },
                error: () => {
                    alert('Algo ha salido mal, contacta con tu administrador del sistema');
                    $('.bs-example-modal-sm').modal('hide');
                }
            });
        })

        const validate = (field, min_legth) => {
            const input = $('#' + field);

            if ((input.val()).length < min_legth) {
                $('#help_' + field).removeClass('hidden');
                input.parent().parent().addClass('has-error');
                $('#saveForm').attr('disabled', 'disabled');

            } else {
                $('#help_' + field).addClass('hidden');
                input.parent().parent().removeClass('has-error');
                $('#saveForm').removeAttr('disabled');
            }
        }
    </script>
}